@model IEnumerable<SealSystem.Models.User>
@{
    if (!string.IsNullOrEmpty(HttpUtility.UrlDecode(Request.Cookies["ZXGC"].Value)))
    {
        List<string> list = JsonConvert.DeserializeObject<List<string>>(HttpUtility.UrlDecode(Request.Cookies["ZXGC"].Value));
    }
}
<div class="container body">
    <div class="main_container">
        <!--右上角头像区-->
        @Html.Partial("~/Views/Shared/_PartialTopHeadImages.cshtml");
        <!--/右上角头像区-->
        <!--顶部导航-->
        <div class="top_nav">
            <div class="nav_menu">
                @Html.Partial("~/Views/Shared/_PartialTopNavigation.cshtml");
            </div>
        </div>
        <!--/顶部导航 -->
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>订单列表 </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table id="datatable-order" class="table table-striped table-bordered"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 上传模块 -->
        <div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" aria-labelledby="uploadLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="uploadLabel">
                            上传证件
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input id="input-card1" type="file" name="file">
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!-- 审核模块 -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">进行审核</h4>
                    </div>
                    <div class="x_content">
                        <br>
                        <form id="form_infor" class="form-horizontal form-label-left input_mask">
                            <input type="text" name="SealInforId" class="form-control" disabled="disabled" style="display:none;">
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">印章编码</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" name="SealInforNum" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">印章类型</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" name="SealCategory" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">印章内容</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" name="SealContent" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">外文内容</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" name="ForeignLanguageContent" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">刻制类型</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" name="EngravingType" class="form-control" readonly="readonly" placeholder="Read-Only Input">
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="product_gallery">
                                <a class="example-image-link" href="images/prod-2.jpg" data-lightbox="example-1" title="test1">
                                    <img src="images/prod-2.jpg" alt="...">
                                </a>
                                <a class="example-image-link" href="images/prod-3.jpg" data-lightbox="example-1" title="test1">
                                    <img src="images/prod-3.jpg" alt="...">
                                </a>
                                <a class="example-image-link" href="images/prod-4.jpg" data-lightbox="example-1" title="test1">
                                    <img src="images/prod-4.jpg" alt="...">
                                </a>
                                <a class="example-image-link" href="images/prod-5.jpg" data-lightbox="example-1" title="test1">
                                    <img src="images/prod-5.jpg" alt="...">
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="checkSuccess()">审核通过</button>
                        <button type="button" class="btn btn-primary" onclick="returnBack()">打回修改</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- /page content -->
        @Html.Partial("~/Views/Shared/_PartialFooter.cshtml");
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    //const BASE_URL = "http://222.223.125.68:8002/api/";
    const BASE_URL = "http://localhost:8003/api/";
    var table_instance = "";

    //跳转到交付页面
    function gotojiaofu(orderId) {
        $.session.set('orderId', orderId)
    }


    //初始化table
    function init_table() {
        //object可以如下初始化表格
        table_instance = $('#datatable-order').DataTable({
            ajax: {
                url: BASE_URL + 'TheOrder/all',
                dataSrc: ''
            },
            //使用对象数组，一定要配置columns，告诉 DataTables 每列对应的属性
            //data 这里是固定不变的，name，position，salary，office 为你数据里对应的属性
            columns: [
                { title: '登记区域 ', data: 'TheRegistrationArea' },
                { title: '制章单位名称', data: 'SealMakingUnitInfor_Name' },
                { title: '备案类型', data: 'ForTheRecordType' },
                { title: '印章编码', data: 'SealInforNum' },
                { title: '创建时间 ', data: 'CreateTime' },
                { title: '选项 ', data: null },
            ],
            aoColumnDefs: [
                {//倒数第一列
                    "targets": -1,
                    "bSortable": false,
                    render: function (data, type, row) {
                        // 需要做条件判断，现在是调试模式，所以所有的状态都会出现，如果正式上线请参考上面注释来写
                        var html = "<p><a id=\"upload\" href=\"JiaoFu?orderId=" + data.TheOrderCode + "\">印章交付</a>"
                        return html;
                    }
                }
            ],
        });
    }
    $(function () {
        init_table();
        init_upload();
    })
</script>
