@model IEnumerable<SealSystem.Models.User>
@{
    if (!string.IsNullOrEmpty(HttpUtility.UrlDecode(Request.Cookies["ZXGC"].Value)))
    {
        List<string> list = JsonConvert.DeserializeObject<List<string>>(HttpUtility.UrlDecode(Request.Cookies["ZXGC"].Value));
    }
}
<div class="container body">
    <div class="main_container">
        <!--右上角头像区-->
        @Html.Partial("~/Views/Shared/_PartialTopHeadImages.cshtml");
        <!--/右上角头像区-->
        <!--顶部导航-->
        <div class="top_nav">
            <div class="nav_menu">
                @Html.Partial("~/Views/Shared/_PartialTopNavigation.cshtml");
            </div>
        </div>
        <!--/顶部导航 -->
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>印章交付</h2>
                                <button type="button" class="btn pull-right btn-sm" onclick="goto_jiaofu()">确定</button>
                                <div class="clearfix"></div>
                            </div>
                            <style>
                                .first_td {
                                    background: #ddd;
                                    width: 100px;
                                    vertical-align: middle;
                                }

                                .second_td {
                                    text-align: left;
                                }

                                .end_td {
                                    width: 100px;
                                }

                                .table > tbody > tr > td {
                                    vertical-align: middle;
                                }
                            </style>
                            <div class="x_content">
                                <br />
                                <table class="table">
                                    <tr>
                                        <td class="first_td">使用单位：</td>
                                        <td class="second_td" colspan="5">
                                            <select class="SealUseUnitInfor"></select>
                                        </td>
                                        <td class="end_td">
                                            <input type="checkbox" id="checkall" /> 全选
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="first_td">取章人信息：</td>
                                        <td class="second_td" colspan="6">
                                            取章人姓名：*<input type="text" id="quzhangrenxingming" />
                                            身份证号：*<input type="text" id="quzhangrenxingming" />
                                            手机号码：*<input type="text" id="quzhangrenxingming" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="first_td">印章信息：</td>
                                        <td colspan="6" id="seal_infor"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 上传模块 -->
        <div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" aria-labelledby="uploadLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="uploadLabel">
                            上传印模
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input id="input-card1" type="file" name="file">
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- /page content -->
        @Html.Partial("~/Views/Shared/_PartialFooter.cshtml");
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    function init_upload(sealId) {
        $("#input-card1").fileinput({
            language: 'zh',
            uploadAsync: 'false',
            uploadUrl: BASE_URL + "FileAndImage/updata?sealInforNum=" + sealId + "&note=''",
            /*uploadExtraData:function(){ //如果想添加额外的参数，在这里设置
                var obj = {};
                obj.sealInforNum = sealId;
                return obj;
            },*/
        }).on("fileuploaded", function (event, data, previewId, index) {
            result = data.response;
            $("#img_" + sealId).attr('src', BASE + result);
            console.log(result);
        }).on('fileerror', function (event, data, msg) {
            console.log("error");
        });
    }

    const BASE_URL = "http://222.223.125.68:8002/api/";
    const BASE = "http://222.223.125.68:8002"
    // 初始化使用单位
    function initSealUseUnitInfor() {
        $.ajax({
            url: BASE_URL + "SealUseUnitInfor/all",
            success: function (data) {
                $(".SealUseUnitInfor").each(function () {
                    for (var i = 0; i < data.length; i++) {
                        $(this).append("<option value='" + data[i].Id + "'>" + data[i].Name + "</option>")
                    }
                })
            }
        })
    }

    //制作方式
    function initMakeMethod() {
        $.ajax({
            url: BASE_URL + "SealSystemList/getForName?name=制作方式",
            success: function (data) {
                console.log('制作方式', data);
                $(".MakeMethod").each(function () {
                    for (var i = 0; i < data.length; i++) {
                        $(this).append("<option value='" + data[i] + "'>" + data[i] + "</option>")
                    }
                })
            }
        })

    }

    //章体材料
    function initSealMaterial() {
        $.ajax({
            url: BASE_URL + "SealSystemList/getForName?name=章体材料",
            success: function (data) {
                console.log('章体材料', data);
                $(".SealMaterial").each(function () {
                    for (var i = 0; i < data.length; i++) {
                        $(this).append("<option value='" + data[i] + "'>" + data[i] + "</option>")
                    }
                })
            }
        })

    }

    function initImg(seal_num_array) {
        for (var i = 0; i < seal_num_array.length; i++) {
            $.ajax({
                url: BASE_URL + "FileAndImage/GetForSealInforNew_Id?sealInforNew_Id=" + seal_num_array[i],
                async: false,
                success: function (data) {
                    $("#img_" + seal_num_array[i]).attr('src', BASE + data.NamePath);
                }
            })
        }
    }

    //获得所有的印章信息
    function getAllSeal() {
        $.ajax({
            url: BASE_URL + "SealInforNew/sealListFortheOrderCode?theOrders_TheOrderCode=001",
            success: function (data) {
                var seal_infor_num_array = [];
                console.log('所有印章信息', data);
                for (var i = 0; i < data.length; i++) {
                    temp_table = '<table class="table table-bordered" id="seal_' + data[i].Id + '">';
                    temp_table += '<tr><td>印章编号:</td><td>' + data[i].SealInforNum + '</td><td>制作日期:</td><td>' + data[i].CreateTime + '</td><td>印章图像</td>';
                    temp_table += '<td><input type="checkbox" class="flat check1" /> 选择</td></tr>';
                    temp_table += '<tr><td>印章内容:</td><td colspan="3">' + data[i].SealContent + '</td>';
                    temp_table += '<td rowspan="4" colspan="2"><img src="#" style="width:120px;" id="img_' + data[i].SealInforNum + '"/> <a href="javascript:;" onclick="show_uplaod(' + data[i].SealInforNum + ')">上传印模</a></td></tr>';
                    temp_table += '<tr><td>制作方式:</td><td><select class="MakeMethod"></select></td>';
                    temp_table += '<td>芯片编号：</td><td>1111111</td></tr>';
                    temp_table += '<tr><td>制作编号:</td><td><input class="zzbh" type="text"/></td>';
                    temp_table += '<td>章体材料：</td><td><select class="SealMaterial"></select></td></tr>';
                    temp_table += '<tr><td>制作人:</td><td>' + data[i].TheProducer + '</td><td>备注：</td><td><textarea></textarea></td></tr>';
                    temp_table += '</table>';
                    $("#seal_infor").append(temp_table);
                    seal_infor_num_array.push(data[i].SealInforNum)
                }
                check_all();
                initSealUseUnitInfor();
                initMakeMethod();
                initSealMaterial();
                initImg(seal_infor_num_array);
            }
        })
    }

    function show_uplaod(SealInforNum) {
        $('#modalUpload').modal('show')
        init_upload(SealInforNum)
    }

    var ischeck = false;//全选标记
    function check_all() {
        $("#checkall").click(function () {
            if (ischeck) {
                $(".check1").prop("checked", !ischeck);
                ischeck = false;
            } else {
                $(".check1").prop("checked", !ischeck);
                ischeck = true;
            }
        });
    }

    function goto_jiaofu() {
        $("#seal_infor table").each(function () {
            if ($(this).find(".check1").prop('checked')) {
                console.log($(this).find(".zzbh").val())
            }
        })
    }

    $(function () {
        getAllSeal();
    })
</script>
